html,
body {
    min-width: 1200px;	
}

body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}
	
a {
  text-decoration: none; 
}

h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;
  width: 440px;
  height: 48px;
  margin-bottom: 35px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*кнопки*/
	
.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none; 
}
	
.button-search-hotel,
.button-booking {
  background-color: #766357; 
}

.button-search,
.button-description,
.social-button	{
  background-color: #81b3d2; 
}
	
a.button-search-hotel:hover,
a.button-booking:hover {
  background-color: #604e43; 
}
	
a.button-search-hotel:focus,
a.button-booking:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3); 
}
	
button.button-search:hover,
a.button-description:hover,
a.social-button:hover	{
  background-color: #669ec0; 
}
	
button.button-search:focus,
a.button-description:focus,
a.social-button:focus	{
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3); 
} 
	
	/*навигация*/
	
.main-header {
  margin-bottom: 60px;
  padding: 0;
}
	
.main-navigation {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1200px;
  margin: auto;
}

.main-navigation-wrapper {
  padding: 0;
  margin: auto;
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

.main-header-logo {
  width: 140px;
  height: 71px;
  position: absolute;
}
		
.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
}

.site-navigation-item{
  width: 239px;
  height: 56px;
 }
	
.site-navigation a {
  color: #000000; 
}
	
.site-navigation a:hover {
  color: #81b3d2; 
}

.site-navigation a:focus{
  color: rgba(0, 0, 0, 0.3); 
}
	
div.welcome {
  background-color: #ffffff; 
}

/*main*/

.container {
  margin: auto;
  width: 1200px;
  padding: 0px;
}

p.reasons {
  color: #333333;
  width: 489px;
  margin-bottom: 56px;
}

/*здесь будет разметка блока причин*/
	
.interest {
  font-size: 30px;
  line-height: 1.2; 
  text-align: center;
  width: 434px;
}
	
.hotels {
  font-size: 14px;
  line-height: 1.71;
  font-weight: normal;
  text-align: center;
  color: #333333; 
  width: 434px;
  margin-bottom: 52px;
}

.button-search-hotel {
  font-size: 21px;
  text-align: center;
  vertical-align: middle;
  width: 289px;
  height: 18px;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 33px;
  padding-bottom: 33px;
  margin: 20px;
}  

a.map {
  padding: 0;
  margin: auto;
  background-color:#ffffff;
}
	
/*footer*/
	
.main-footer {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
 }	
  
.wrapper-footer {
  margin: auto;
  display: flex;
  direction: row;
  justify-content: space-between;
  width: 1200px;
}

.visit {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.24;
  text-align: center; 
}  
  
.footer-social {
  text-align: center; 
}

.footer-social ul {
  list-style: none; 
  display: flex;
  direction: row;
  justify-content: space-between;
}

.social-button {
  color: #ffffff; 
}

.footer-copyright b {
  font-weight: normal; 
}
	
/*inner page*/
	
.inner-page {
  margin: auto;
  background-color: #ffffff;
  background-image: url("../img/filter-background.jpg");
  background-position: 0 0;
  background-repeat: repeat; 
}

.inner-page .main-header {
  margin: 0;
  padding; 0;
}

.filter {
  display: flex;
  flex-direction: row;
}

.sorting-name {
  background-color: #ffffff;
  display: flex;
  flex-direction: row; 
}

.sorting {
  display: flex;
  flex-direction: row;
}

.sorting-item {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.result-search {
  background-color: #ffffff; 
  display: flex;
  flex-direction: column;
}

.catalog-list {
  display: flex;
  flex-direction: row;
}

.name a {
  color: #000000;
  font-size: 21px;
  line-height: 1.24; 
}
	
.housing,
.price {
  color: #333333 
}
  
.button-description  {
  width: 76px;
  height: 12px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.button-booking {
  width: 110px;
  height: 11px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
	
/*форма*/
	
.modal {
  color: #000000;
  background-color: #ffffff;
}
	
.hotel-form input[type="text"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2; 
}
	
.hotel-form input:hover {
  border-color: #ebebeb;
  background-color: #ebebeb; 
}
	
.hotel-form input:focus {
  border-color: #e5e5e5;
  background-color: #ffffff; 
}





