body {
  padding: 0;
  margin: auto;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none; 
}

img {
  max-width: 100%;
 }

iframe {
  frameborder: 0;
  border:0;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  background-image: url("../img/background-photo.jpg");
  background-position: left -28px;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(122,122,122,0.5); 
}

 .inner-page .container {
  background-image: url("../img/filter-background.jpg");
  background-position: left -240px;
  background-repeat:no-repeat;
  background-color: #ffffff;
}

/*кнопки*/

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none; 
}

.button-search-hotel,
.button-booking {
  background-color: #766357; 
}

.button-search,
.button-description,
.social-button	{
  background-color: #81b3d2; 
}

a.button-search-hotel:hover,
a.button-booking:hover {
  background-color: #604e43; 
}

a.button-search-hotel:focus,
a.button-booking:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3); 
}

button.button-search:hover,
a.button-description:hover,
a.social-button:hover	{
  background-color: #669ec0; 
}


button.button-search:focus,
a.button-description:focus,
a.social-button:focus	{
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3); 
} 

.social-button:focus path {
  opacity: 0.3;
}

/*навигация*/

.main-header {
  padding: 0;
}

 .main-navigation {
  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.main-header-logo {
  width: 140px;
  height: 71px;
  position: absolute;
  right: 530px;
  top: 0px;
  z-index: 5;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 75px;
  background-color: #ffffff;
  width: 1200px;
}

.site-navigation-item {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 22px;
  width: 239px;
  line-height: 1;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.nav-item2 {
  margin-right: 242px;
  margin-left: 3px;
}

.nav-item4 {
  margin-left: 85px;
  width: 85px;
}

.site-navigation a {
  color: #000000; 
}

.site-navigation a:hover {
  color: #81b3d2; 
}

.site-navigation a:focus{
  color: rgba(0, 0, 0, 0.3); 
}

.welcome {
  position: relative;
  margin: auto;
  padding-bottom: 73px;
  text-align: center;
  background-color: none;
}

.welcome::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 0px;
  left: 0px;
  background-position: center;
  background-color: none;
  background-image: url("../img/polygon.svg") ;
  background-repeat: no-repeat;
  background-size: 100%;
}

/*main*/

.main-prime {
  background-color: #ffffff;
}

.prime {
  margin: auto;
  line-height: 26px;
  padding-top: 59px;
  width: 440px;
  height: 48px;
  padding-bottom: 32px;
  text-align: center;
  line-height: 1.24;
  letter-spacing: 0.3px;
}

.five-reasons {
  background-color: #ffffff;
}

p.reasons {
  color: #333333;
  font-weight: normal;
  width: 489px;
  margin: auto;
  padding-bottom: 50px;
}

.reasons-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reasons-item {
  display: flex;
}

.reasons-item-one {
  width: 290px;
  height: 146px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 47px;
  padding-bottom: 64px;
  background-color: #81b3d2;
  text-align: center;
}

.reasons-item-one h3,
.reasons-item-two h3 {
  margin: auto;
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  width: 155px;
}

.reasons-item-one p,
.reasons-item-two p {
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 0;
  margin: auto;
}

p.number {
  padding-bottom: 7px;
}

p.text {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}

.reasons-item-two {
  width: 303px;
  height: 142px;
  padding-left: 50px;
  padding-right: 47px;
  padding-top: 46px;
  padding-bottom: 68px;
  background-color: #81b3d2;
}

.reasons-item-three {
  text-align: center;
  width: 208px;
  height: 143px;
  padding-left: 95px;
  padding-right: 97px;
  padding-top: 47px;
  padding-bottom: 66px;
  background-color: #eeeeee;
}

.reasons-item-four {
  width: 262px;
  height: 142px;
  padding-left: 69px;
  padding-right: 69px;
  padding-top: 47px;
  padding-bottom: 66px;
  background-color: #eeeeee;
}

.reasons-item-five {
  width: 245px;
  height: 142px;
  padding-left: 77px;
  padding-right: 77px;
  padding-top: 47px;
  padding-bottom: 66px;
  background-color: #eeeeee;
}

.reasons-item-three h3,
.reasons-item-four h3,
.reasons-item-five h3 {
  margin: auto;
  font-size: 21px;
  text-align: center;
  color: #000000;
  width: 150px;
  line-height: 21px;
  letter-spacing: normal;
}

.reasons-item-three p {
  font-weight: normal;
  text-align: center;
  color: #333333;
  width: 211px;
  line-height: 21px;
  letter-spacing: normal;
  margin-top: 23px;
}

.reasons-item-four p {
  font-weight: normal;
  text-align: center;
  color: #333333;
  width: 265px;
  line-height: 21px;
  letter-spacing: normal;
  margin-top: 23px;
}

.reasons-item-five p {
  font-weight: normal;
  text-align: center;
  color: #333333;
  width: 250px;
  line-height: 21px;
  letter-spacing: normal;
  margin-top: 23px;
}

.additionally-list {
  list-style: none;
  margin: auto;
  padding-top: 53px;
  padding-bottom: 76px;
  width: 1160px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.additionally-item {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: space-between;
  width: 287px;
  height: 200px;
}

.additionally-item .house::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: 5px;
  right: 105px;
  background-color: #ffffff;
  background-image: url("../img/icon-1.svg");
}

.additionally-item .food::after {
  content: "";
  position: absolute;
  width: 74px;
  height: 70px;
  top: 7px;
  right: 105px;
  background-color: #ffffff;
  background-image: url("../img/icon-3.svg");
}

.additionally-item .souvenir::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 76px;
  top: 1px;
  right: 110px;
  background-color: #ffffff;
  background-image: url("../img/icon-2.svg");
}

.item-house {
  margin-left: 17px;
}

.item-souvenir {
  margin-right: 58px;
}

.additionally-item h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0;
  margin-bottom: 20px;
}

.additionally-item p {
  font-weight: normal;
  line-height: 21px;
  color: #333333;
  text-align: center;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  margin: 0;
}

.search-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interest {
  font-size: 30px;
  line-height: 1.2; 
  text-align: center;
  width: 434px;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 25px;
}

.hotels {
  font-size: 14px;
  line-height: 1.71;
  font-weight: normal;
  text-align: center;
  color: #333333; 
  width: 436px;
  padding: 0;
  margin: 0;
  margin-bottom: 47px;
}

.button-search-hotel {
  font-size: 21px;
  text-align: center;
  vertical-align: middle;
  width: 291px;
  height: 18px;
  padding-left: 140px;
  padding-right: 141px;
  padding-top: 31px;
  padding-bottom: 36px;
  position:relative;
}

a.map {
  padding: 0;
  margin: auto;
  background-color:#ffffff;
}

.map {
margin-bottom: 30px;
}

/*footer*/

.main-footer {
  background-color:#ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 40px;
}

.inner-page .main-footer {
  padding-top: 36px;
  padding-bottom: 40px;
}

.visit {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  padding-left: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 150px;
  line-height: 26px;
}

.footer-social {
  margin-left: 242px;
  margin-right: 225px;
  width: 150px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-social ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
}

.footer-copyright  {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4px;
}

.footer-copyright b {
  font-weight: normal;
  text-align: center;
}

.logo-academy {
  width: 117px;
  height: 43px;
  background-position: center;
  background-repeat:no-repeat;
  background-image: url("../img/logo-htmlacademy.svg");
  background-color: #ffffff;
}

.logo-academy:hover {
  background-position: center;
  background-repeat:no-repeat;
  background-image: url("../img/logo_name_blue.png");
  background-color: #ffffff;
}

.logo-academy:focus {
  background-position: center;
  background-repeat:no-repeat;
  background-image: url("../img/logo_name_grey.png");
  background-color: #ffffff;
}

/*inner page*/

.inner-page {
  margin: auto;
}

.inner-header {
  position: relative;
}

.inner-page .site-navigation {
  margin: 0;
  padding: 0;
}

form.filter {
  display: flex;
  flex-direction: row;
  padding-left: 72px;
  padding-top: 26px;
  padding-bottom: 8px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter legend {
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 21px;
}

.infrastructure-item{
  margin-right: 145px;
}

.housing-item {
  margin-right: 350px;
}

.infrastructure-item{
  color: #ffffff;
  margin-bottom: 24px;
  padding-left: 40px;
}

.housing-item {
  color: #ffffff;
  margin-bottom: 24px;
  padding-left: 44px;
}

.infrastructure-item label,
.housing-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 28px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}

.sorting-name {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

.sorting-name h3 {
  font-size: 21px;
  line-height: 26px;
  margin-left: 72px;
}

.sorting-name p {
  margin: 0;
  margin-top: 26px;
  margin-left: 22px;
  width: 80px;
  font-size: 12px;
  line-height: 18px;
}

.sorting {
  margin: 0;
  padding: 0;
  width: 860px;
  display: flex;
  justify-content: space-between;
}

.helper {
  margin: 0;
  padding-top: 2px;
  padding-left: 10px;
  width: 250px;
  display: flex;
  align-items: center;
}

.sort-item {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
  text-decoration: underline;
  text-decoration-color: #cacaca;
  width: 100%;
}

a.sort-element {
  list-style: none;
  color: #cacaca;
}

.sort-element:active {
  color: #81b3d2;
  text-decoration: none;
}

.sort-item:hover {
  text-decoration-color: #81b3d2;
}

.sort-element:hover {
  color: #81b3d2;
}

.sort-element:focus {
  color: #000000;
  text-decoration: none;
  text-decoration-color: #ffffff;
}

.helper1 {
  width: 50px;
  margin-right: 65px;
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.button-sort-down,
.button-sort-up {
  margin: auto;
  padding: 0;
  width: 11px;
  height: 11px;
}

.button-sort-down {
  list-style: none;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  background-color: #ffffff;
}

.button-sort-down:hover {
  opacity: 1;
}

.button-sort-down:focus {
  background-image: url("../img/icon-down-dir.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.button-sort-up {
  list-style: none;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  background-color: #ffffff;
 }

.button-sort-up:hover {
  opacity: 1;
}

.button-sort-up:focus {
  background-image: url("../img/icon-up-dir.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.result-search {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.catalog-list {
  padding-left: 73px;
  padding-bottom: 4px;
  padding-top: 12px;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #eeeeee;
  background-color: #ffffff;
}

.catalog-item {
  width: 280px;
  height: 93px;
  border-spacing: 5px;
  margin-left: 23px;
  margin-right: 490px;
  margin-bottom: 20px;
  padding-top: 4px;
  padding-bottom: 2px;
}

.name {
  padding-bottom: 3px;
  margin: 0px;
}

.name a {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 0px;
  vertical-align: bottom;
  padding-bottom: 3px;
}

.housing,
.price {
  color: #333333;
  text-align: left;
  line-height: 21px;
  font-weight: normal;
  padding-bottom: 6px;
  padding-top: 4px;
}

.button-description {
  width: 110px;
  height: 27px;
  padding-left: 17px;
  padding-right: 18px;
  padding-top: 4px;
  padding-bottom: 6px;
}

.button-booking {
  width: 127px;
  height: 27px;
  padding-left: 17px;
  padding-right: 19px;
  padding-top:4px;
  padding-bottom: 6px;
}

.catalog-rating {
  width: 125px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.star {
  text-align: right;
  padding-right: 3px;
  margin-bottom: 28px;
}

.rating {
  font-weight: normal;
  color: #666666;
  text-align:center;
  line-height: 21px;
  padding-left: 13px;
  margin: auto;
  margin-left: 15px;
  padding-right: 13px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #f2f2f2;
}

/* фильтр*/

.filter-range {
  /* margin: 50px auto;  для демо */
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
/*  line-height: 38px;*/
  vertical-align: center;
  padding-top: 2px;
  cursor: pointer;
}

.price-controls .min-price {
  width: 105px;
  padding-left: 64px;
}

.price-controls .max-price {
  width: 103px;
  padding-left: 42px;
}

.price-controls input {
  width: 45px;
  margin: auto;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: auto;
  margin-left: 84px;
  padding: 6px 33px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/*форма поиска*/

.modal {
  position: fixed;
  margin: auto;
  width: 568px;
  color: #000000;
  background-color: #ffffff;
  display: none;
}

.modal-show {
  display: block;
}

.modal-search {
  left: 316px;
  position: absolute;
}

.hotel-form {
  padding-top: 45px;
  padding-bottom: 52px;
  padding-left: 56px;
  padding-right: 41px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }

.hotel-form input[type="text"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2; 
}

.hotel-form input[id="hotel-date-in"],
.hotel-form input[id="hotel-date-out"] {
  box-sizing: border-box;
  width: 346px;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 9px;
  background-image: url("../img/calendar_grey.png");
  background-repeat: no-repeat;
  background-position: right;
  margin-left: 27px;
  background-color: #f2f2f2;
}

.hotel-form input[id="hotel-date-in"]:hover,
.hotel-form input[id="hotel-date-out"]:hover{
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.hotel-form input[id="hotel-date-in"]:focus,
.hotel-form input[id="hotel-date-out"]:focus{
  background-image: url("../img/calendar.png");
  background-repeat: no-repeat;
  background-position: right;
} 

.hotel-form input:hover {
  border-color: #ebebeb;
  background-color: #ebebeb;
}

.hotel-form input:focus {
  border-color: #e5e5e5;
  background-color: #ffffff; 
}

.hotel-item-one {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  padding: 0;
}

.hotel-item-two {
  display: flex;
  margin-bottom: 20px;
  padding: 0;
  align-items: center;
}

.hotel-form input[id="hotel-number-adult"] {
  width: 60px;
  margin-left: 41px;
  padding-left: 50px;
}

.hotel-form input[id="hotel-number-children"] {
  width: 60px;
  margin-left: 27px;
  padding-left: 50px;
}

.hotel-item-three,
.hotel-item-four {
  display: flex;
  width: 226px;
  padding: 0px;
  margin-bottom: 54px;
  align-items: center;
}

.children {
  margin-left: 36px;
}

.hotel-item label {
  display: block;
  padding: 0;
}

.button-search {
  font-size: 21px;
  line-height: 26px;
  display: block;
  width: 458px;
  padding-left: 196px;
  padding-right: 197px;
  padding-top: 17px;
  padding-bottom: 17px;
}

::-webkit-input-placeholder { /* Chrome */
  color: black;
  opacity: 1;
}

:-ms-input-placeholder { /* IE 10+ */
  color: black;
  opacity: 1;
}

::-moz-placeholder { /* Firefox 19+ */
  color: black;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
  color: black;
  opacity: 1;
}

.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}
